.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
  }
  
  .about-container .about-content {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
  }
  
  .about-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007EA7;
  }
  
  .about-container .about-text {
    margin-left: 20px;
    text-align: left;
  }
  
  .about-container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .about-container img {
    width: 300px;
    height: 170px;
    object-fit: cover;
  }

  .about-container .about-imgs {
    display: flex;
    justify-content: center;
  }
  
  .about-container .about-imgs img {
    width: 300px; 
    height: 150px; 
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  

  .about-container .about-more-info {
    margin-top: 20px;
    text-align: left;
  }

  .why-choose-us {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .why-choose-us h2 {
    color: #007EA7;
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .advantages {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .advantage {
    max-width: 300px;
  }
  
  .advantage img {
    width: 40px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .advantage h3 {
    color: #007EA7;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .advantage p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

/* Responsive styles for smaller devices */
@media screen and (max-width: 844px) {
  .about-container .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-container .about-img img,
  .about-container .about-imgs img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 0 20px 0;
  }
  .comp-content {
    display: none;
  }
  .about-container .about-text {
    margin: 0;
    text-align: center;
  }

  .about-container p {
    margin-bottom: 20px;
  }

  .about-container .about-more-info {
    text-align: center;
  }

  .advantages {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .advantage {
    max-width: 100%;
    text-align: center;
  }

  .advantage img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
  }

  .advantage h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .advantage p {
    font-size: 1rem;
    line-height: 1.3;
  }
}