.contacts-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contacts-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #007EA7;
  }
  
  .contacts-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info > div {
    width: 45%;
  }
  
  .contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }  
