.contacts-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contacts-container h1 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    color: #007EA7;
  }
  
  .contacts-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info > div {
    width: 45%;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }  

  .contact-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #010101;
}

.contact-subscription > p {
    font-size: 18px;
}

.contact-subscription-heading {
    margin-bottom: 24px;
    font-size: 18px;
}

.contact-subscription-text {
  margin-bottom: 24px;
  font-size: 14px;
}

.input-areas {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-bottom: 0px;
  border: 1px solid #fff;
}